#include <windows.h>
#include "resource.h"

#pragma code_page(65001)

IDI_APPICON ICON "app.ico"

1 RT_MANIFEST "app.manifest"

MAINMENU MENU
BEGIN
  POPUP L"文件(&F)"
  BEGIN
    MENUITEM L"配置(&C)", IDM_FILE_CONFIG
    MENUITEM SEPARATOR
    MENUITEM L"退出(&X)", IDM_FILE_EXIT
  END
  POPUP L"帮助(&H)"
  BEGIN
    MENUITEM L"关于(&A)", IDM_HELP_ABOUT
  END
END

IDD_ABOUT DIALOGEX 0, 0, 220, 88
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION L"关于 Mimo TTS Box"
FONT 9, L"Segoe UI"
BEGIN
  ICON IDI_APPICON, -1, 12, 12, 24, 24
  LTEXT L"Mimo TTS Box v1.0  /  sdcb", -1, 44, 10, 150, 12
  CONTROL L"GitHub: <a href=""https://github.com/sdcb/mimo-tts-box"">https://github.com/sdcb/mimo-tts-box</a>",
          IDC_ABOUT_GITHUB_LINK, L"SysLink", WS_TABSTOP | WS_VISIBLE, 44, 28, 164, 12
  CONTROL L"依赖: <a href=""https://github.com/DaveGamble/cJSON"">cJSON</a>  MIT  fb16e5c",
          IDC_ABOUT_CJSON_LINK, L"SysLink", WS_TABSTOP | WS_VISIBLE, 44, 45, 154, 12
  DEFPUSHBUTTON L"确定", IDOK, 160, 70, 48, 14
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "CompanyName", "sdcb"
      VALUE "FileDescription", "Mimo TTS Box"
      VALUE "FileVersion", "1.0.0.0"
      VALUE "InternalName", "MimoTTSBox"
      VALUE "OriginalFilename", "MimoTTSBox.exe"
      VALUE "ProductName", "Mimo TTS Box"
      VALUE "ProductVersion", "1.0.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
